html, body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: rgb(74, 74, 74);
}

.container {
    width: 100%;
    height: auto;
}

/* Fonts */

h1 {
    text-transform: uppercase;
}
h1, h3, h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2.45rem;
    /*line-height: 3rem;*/
}

h3 {
    margin-top: -1.1rem;
}


.learn_text p {
    line-height: 1.75rem;
    margin-top: -1.25rem;
}

.logo span {
    color: rgb(199, 197, 197);
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    margin-top: -1.1rem;
}

.white p {
    color: rgb(126, 123, 123);
    font-weight: lighter;
}

.info_text p {
    font-size: 1rem;
}

.info_text span {
    color: rgb(97, 196, 240);
}

/* Header */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo div */

.logo {
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
}

/* Navigation */
li {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.25rem;
}

.nav {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}


/* Learn something new everyday */

#first_container {
    background-color: rgb(216, 216, 216);
    display: flex;
}

.image {
    width: 60%;
    padding: 2rem 1.5rem;
    border-right: 1px solid rgb(216, 216, 216);
}

.image img {
    width: 100%;
}

.learn_box {
    width: 40%;
    align-self: center;
    margin-left: 1.5rem;
}

.learn_text {
    width: 70%;
    margin-left: 1.5rem;
}

button {
    width: 98%;
    padding: 0.5rem 0;
    background-color: 	rgb(74, 74, 74);
    color: white;
    font-size: 1.15rem;
}

/* It doesn't hurt to keep practicing */

#second_container, #wrapper {
    display: flex;
    background-color: rgb(243, 245, 245);
}

.info {
    width: 40%;
    margin-top: 2rem;
}

.little_pic {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
}

.info_text {
    padding-right: 1rem;
}

.little_pic img {
    flex-basis: 35%;
    padding: 1rem;
}

#guest_lecture, #thesis_con {
    background-color: rgb(216, 216, 216);
}

#first_pic {
    border-top: none;
}

#birdeye {
    padding-top: 0rem;
}

/* Start Learning */
#third_container {
    background-color: rgb(234, 235, 236);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.course_container {
    width: 25%;
    background-color: white;
    height: 390px;
    margin: 0.80rem;
    
}

.course_container img {
    width: 100%;
    height: auto;
}

.white {
    width: 80%;
    padding: 0 1rem;
}

.courses {
    padding-bottom: 0.5rem;
}

/* Thesis Exhibit */

#fourth_container {
    width: 100%;
    background-color: rgb(243, 245, 245);
    padding-top: 2rem;
}

.wrapper {
    width: 100%;
}

.video {
    width: 60%;
    height: auto;
}

video {
    width: 100%;
   height: auto;
}

.thesis {
    width: 40%;
}

.thesis_pic {
    display: flex;
    /*margin-top: 3.3rem;*/
    width: 100%
}

.thesis_piv img {
    flex-basis: 35%;
}

